$primary: #ff4800;
$purple: #E199C2;
$purple-dark: #7F1788;
$secondary: #FE4D0B;
$third : #FF8C00;
$four: #CF48A1;
$five: #D964B0;
$purple-black: #7F1784;
$white: #fff;
$gray-dark: #3C3C3C;
$brown: #3A0B0B;
$gray-light: #F2F3F3;
$gray: #E0E0E0;
$gray-2: #CFCBCB;
$gray-3: #EAE5E5;
$gray-4: #E1D1CB;
$gray-5: #FEECE5;
$gray-6: #f3d37496;
$gray-7: #a6831a47;
$brown-10: rgba(58, 11, 11, 0.1);
$pink-light: #FFE4C3;
//max width

$md-large: 992px;
$md: 768px;
$sm: 650px;
