.b-list {
  .item {
    margin-bottom: 12px;

    .icon {
      width: 96px;
      height: 96px;
      border-radius: 100%;
      border: solid 2.5px $third;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 1rem;
      @media screen and (max-width: $md) {
        width: 48px;
        padding: 5px;
        height: 48px;
      }

      img {
        max-height: 100%;
      }
    }

    p {
      flex: 1;
      margin: 0 5px;
    }
  }
}

.b-highlight {
  background-color: $pink-4;
  color: $secondary;
  font-weight: 500;
  border-radius: 15px 15px 100% 15px;
  padding: 20px 20% 30px 15px;
}

.desc {
  text-align: justify;
  line-height: 1.6;
  word-wrap: break-word;
}

.note {
  font-size: 10px;
  line-height: normal;
}

table.table {
  & > :not(caption) > * > * {
    border: solid 2px #fff;
    border-bottom: none;
    font-size: 14px;
  }

  tr > th {
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border-radius: 20px 20px 0 0;
  }

  tr > td {
    padding: 5px 10px;
    border: none;

    &.image {
      padding: 0 1px;

      img {
        max-height: 286px;
        object-fit: cover;
      }
    }

    &:first-child {
      vertical-align: middle;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        td {
          &:first-child {
            background-color: $gray-light !important;
          }

          &:nth-child(2) {
            background-color: $gray-2 !important;
          }

          &:nth-child(3) {
            background-color: $gray-4 !important;
          }

          &:nth-child(4) {
            background-color: $gray-6 !important;
          }
        }
      }

      &:nth-child(even) {
        td {
          &:first-child {
            background-color: $gray !important;
          }

          &:nth-child(2) {
            background-color: $gray-3 !important;
          }

          &:nth-child(3) {
            background-color: $gray-5 !important;
          }

          &:nth-child(4) {
            background-color: $gray-7 !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .min-width-table {
    overflow-x: scroll;

    table.table-data {
      min-width: 450px;
    }
  }
}

.table-title {
  background-color: #E5A870;
  border-radius: 25px 0 0 0;
  color: $white;
  padding: 5px 15px;
}
table.table-data {

  .row-heading {
    background-color: $secondary !important;
    color: $white;
    font-weight: bold;
  }

  .col-heading {
    background-color: $brown !important;
    color: $white;
    font-weight: bold;
  }

  .row-title {
    background-color: $third !important;
    color: $white;
  }

  tr {
    td {
      vertical-align: middle;
      text-align: center;
      padding: 5px;

      &:not(td:first-child) {
        width: 12.5%;
      }
    }

    &:first-child {
      td:first-child {
        border-radius: 20px 0 0 0;
      }
    }

    &:nth-child(n+2) {
      td {
        &:first-child {
          text-align: left;
        }

        &:nth-child(n+2) {
          border: solid 1px $secondary;
        }
      }
    }
  }
}
