.p-cove {
  background-color: $purple;
  min-height: 100vh;

  p {
    max-width: 290px;
    margin: 0 auto;
    font-weight: 500;
    letter-spacing: -1px;
    word-spacing: 3px;
  }
}

.b-header {
  position: relative;
  min-height: 60px;
  padding-left: 100px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../images/icon/icon-b-header.png");
    width: 84px;
    height: 100%;
    background-size: 100% 100%;
    top: 0;
    left: 0;
  }
}
