* {
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;

  @media screen and (max-width: $md){
    font-size: 12px;
  }
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 0;
}

.br-right-bottom {
  border-radius: 0 0 200px 0;
}

ul {
  padding-left: 15px;

  li {
    padding-bottom: .5rem;

    &::marker {
      color: $secondary;
    }
  }
}

.z-1 {
  position: relative;
  z-index: 1;
}
