.fs-18 {
  font-size: 18px;
  @media screen and (max-width: $md) {
    font-size: 14px;
    line-height: normal;
  }
}

.fs-30 {
  font-size: 3rem;
  @media screen and (max-width: $md) {
    font-size: 2rem;
    line-height: normal;
  }
  @media screen and (max-width: $sm) {
    font-size: 14px;
  }
}

.fw-medium {
  font-weight: 500;
}
