$primary: #CB489D;
$purple: #E199C2;
$purple-dark: #7F1788;
$secondary: #93358D;
$third : #D368A5;
$four: #CF48A1;
$five: #D964B0;
$purple-black: #7F1784;
$white: #fff;


//max width

$md-large: 992px;
$md: 768px;
$sm: 650px;
