.container {
  max-width: 1200px;
  padding-left: 14px;
  padding-right: 14px;
}

.text-primary {
  color: #7F1788 !important;
}

.text-secondary {
  color: #FE4D0B !important;
}

.bg-primary {
  background-color: #ff4800 !important;
}

.bg-secondary {
  background-color: #FE4D0B !important;
}

.bg-four {
  background-color: #CF48A1 !important;
}

.bg-purple-black {
  background-color: #7F1784 !important;
}

.bg-gradient {
  background: linear-gradient(90deg, #FF4800 0%, #FF4B00 25%, #FF5700 50%, #FF6900 75%, #FF8200 96%, #FF8200 100%) !important;
  background: #7F1784;
}

.bg-gray-dark {
  background-color: #3C3C3C !important;
}

.bg-brown {
  background-color: #3A0B0B !important;
}

.bg-third {
  background-color: #FF8C00 !important;
}

.bg-gray-light {
  background-color: #F2F3F3;
}

.bg-arrow {
  margin-right: 42px;
  background-color: rgba(58, 11, 11, 0.1);
  position: relative;
}
.bg-arrow::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/icon-2/icon-arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 42px;
}

.bg-pink-light {
  background-color: #FFE4C3;
}

.bg-path {
  background-image: url("../images/icon-2/bg-path.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  border-radius: 20px;
}

.bg-gray-8 {
  background-color: #EBE6E6 !important;
}

.bg-pink-2 {
  background-color: #FFEDE6 !important;
}

.bg-pink-3 {
  background-color: #FFF3E5 !important;
}

.bg-pink-4 {
  background-color: #EDDED0 !important;
}

* {
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 768px) {
  * {
    font-size: 12px;
  }
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 0;
}

.br-right-bottom {
  border-radius: 0 0 110px 0;
}
@media screen and (max-width: 650px) {
  .br-right-bottom {
    border-radius: 0 0 60px 0;
  }
}

.br {
  border-radius: 10px;
}

.br-top {
  border-radius: 20px 20px 0 0;
}

ul {
  padding-left: 15px;
}
ul li {
  padding-bottom: 0.5rem;
}
ul li::marker {
  color: #FE4D0B;
}

.z-1 {
  position: relative;
  z-index: 1;
}

.fs-18 {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .fs-18 {
    font-size: 14px;
    line-height: normal;
  }
}

.fw-medium {
  font-weight: 500;
}

.p-cove {
  background-color: #ff4800;
  min-height: 80vh;
  margin-bottom: 10vh;
}
.p-cove p {
  max-width: 595px;
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}

.b-header {
  position: relative;
  min-height: 120px;
  padding-left: 200px;
}
@media screen and (max-width: 768px) {
  .b-header {
    min-height: 60px;
    padding-left: 100px;
  }
}
.b-header::before {
  position: absolute;
  content: "";
  background-image: url("../images/icon-2/icon-b-header.png");
  width: 160px;
  height: 100%;
  background-size: contain;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .b-header::before {
    width: 84px;
  }
}

.b-footer {
  position: relative;
  padding-top: 130px;
  padding-bottom: 20px;
  margin-top: -130px;
}
@media only screen and (max-width: 768px) {
  .b-footer {
    padding-top: 60px;
    margin-top: -50px;
    padding-bottom: 5px;
  }
}
.b-footer::after {
  content: "";
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  height: 120px;
  width: 100%;
  border-radius: 0 0 200px 0;
  z-index: 0;
}
@media only screen and (max-width: 768px) {
  .b-footer::after {
    height: 55px;
  }
}
.b-footer .logo {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: center;
  min-height: 88px;
}
.b-footer .logo img {
  min-height: 88px;
}

.b-list .item {
  margin-bottom: 12px;
}
.b-list .item .icon {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  border: solid 2.5px #FF8C00;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .b-list .item .icon {
    width: 48px;
    padding: 5px;
    height: 48px;
  }
}
.b-list .item .icon img {
  max-height: 100%;
}
.b-list .item p {
  flex: 1;
  margin: 0 5px;
}

.b-highlight {
  background-color: #EDDED0;
  color: #FE4D0B;
  font-weight: 500;
  border-radius: 15px 15px 100% 15px;
  padding: 20px 20% 30px 15px;
}

.desc {
  text-align: justify;
  line-height: 1.6;
  word-wrap: break-word;
}

.note {
  font-size: 10px;
  line-height: normal;
}

table.table > :not(caption) > * > * {
  border: solid 2px #fff;
  border-bottom: none;
  font-size: 14px;
}
table.table tr > th {
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 20px 20px 0 0;
}
table.table tr > td {
  padding: 5px 10px;
  border: none;
}
table.table tr > td.image {
  padding: 0 1px;
}
table.table tr > td.image img {
  max-height: 286px;
  object-fit: cover;
}
table.table tr > td:first-child {
  vertical-align: middle;
}
table.table tbody tr:nth-child(odd) td:first-child {
  background-color: #F2F3F3 !important;
}
table.table tbody tr:nth-child(odd) td:nth-child(2) {
  background-color: #CFCBCB !important;
}
table.table tbody tr:nth-child(odd) td:nth-child(3) {
  background-color: #E1D1CB !important;
}
table.table tbody tr:nth-child(odd) td:nth-child(4) {
  background-color: #f3d37496 !important;
}
table.table tbody tr:nth-child(even) td:first-child {
  background-color: #E0E0E0 !important;
}
table.table tbody tr:nth-child(even) td:nth-child(2) {
  background-color: #EAE5E5 !important;
}
table.table tbody tr:nth-child(even) td:nth-child(3) {
  background-color: #FEECE5 !important;
}
table.table tbody tr:nth-child(even) td:nth-child(4) {
  background-color: #a6831a47 !important;
}

@media screen and (max-width: 768px) {
  .min-width-table {
    overflow-x: scroll;
  }
  .min-width-table table.table-data {
    min-width: 450px;
  }
}
.table-title {
  background-color: #E5A870;
  border-radius: 25px 0 0 0;
  color: #fff;
  padding: 5px 15px;
}

table.table-data .row-heading {
  background-color: #FE4D0B !important;
  color: #fff;
  font-weight: bold;
}
table.table-data .col-heading {
  background-color: #3A0B0B !important;
  color: #fff;
  font-weight: bold;
}
table.table-data .row-title {
  background-color: #FF8C00 !important;
  color: #fff;
}
table.table-data tr td {
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}
table.table-data tr td:not(td:first-child) {
  width: 12.5%;
}
table.table-data tr:first-child td:first-child {
  border-radius: 20px 0 0 0;
}
table.table-data tr:nth-child(n+2) td:first-child {
  text-align: left;
}
table.table-data tr:nth-child(n+2) td:nth-child(n+2) {
  border: solid 1px #FE4D0B;
}

/*# sourceMappingURL=index.css.map */
